*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    text-decoration: none;
    list-style: none;
    outline: none;
    border-radius: 0;
}

html{
    font-size: 14px;
}
/* root styles */
:root{
    --color-primary:#7380ec;
    --color-danger:#ff7782;
    --color-succes:#41f1b6;
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-light:#dce1eb;
    --color-info-dark:#7d8da1;
    --color-dark:#363949;
    --color-light:rgba(132, 139, 200, 0.18);
    --color-primary-variant:#111e88;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;

    --card-border-radius:2rem;
    --border-radius-1:.4rem;
    --border-radius-2:.8rem;
    --border-radius-3:1.2rem;

    --card-padding:1.8rem;
    --padding:1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}



/* root styles end */

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.darktheme_variables{
    --color-white:#202528;
    --color-dark:#edeffd;
    --color-light:rgba(0, 0, 0, 0.4);
    --color-background:#181a1e;
    --box-shadow: 0 2rem 3rem var(--color-light);
}
.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}
a{
    color: var(--color-dark);
}
img{
    display: block;
    width: 100%;
}h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 0.87rem;
}
h4{
    font-size: 0.8rem;
}
h5{
    font-size: .77rem;
}
small{
    font-size: .75rem;
}
.profile_photo{
    width: 2.8rem;
    height: 2.8rem;
    overflow: hidden;
    border-radius: 50%;
}
.text_muted{
color: var(--color-info-dark);
}
p{
    color: var(--color-dark-variant);
}
b{
    color: var(--color-dark);
}
.primary{
    color: var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.succes{
    color: var(--color-succes);
}
.warning{
    color: var(--color-warning);
}

/* aside styles section */
.aside{
    height: 100vh; 
}
.aside .top{
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 1.4rem;
}
.aside .top span{
    color: var(--color-danger);
}
.aside .top .logo h1{
    font-weight: 700;
}
.aside .top .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.aside .top .logo i{
    font-size: 3rem;
    color: var(--color-primary);
}
.aside .close{
    display: none;
}
.aside .links{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}
.aside h3{
    font-weight: 500;
}
.aside .links a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    align-items: center;
    gap: 1rem;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}
.aside .links a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}
.aside .links a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}
.aside .links a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}
.aside .links a.active::before{
    content: "";
    width: 4.5px;
    height: 100%;
    background: var(--color-primary);
}
.aside .links a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 2.25px);
}
.aside .links a:hover{
    color: var(--color-primary);
}
.aside .links a:hover span{
    margin-left: 1rem;
}
.aside .links .msg_count{
    background-color: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}
/* aside styles section */
/* main -------------------------------------------------------------section */
main{
    margin-top: 1.4rem;
}
main .insights{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1.6rem;
}
main .insights > div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main .insights > div:hover{
    box-shadow: none;
}
main .insights > div span{
    padding: 0.5em;
    color: var(--color-white);
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    background: var(--color-primary);
    border-radius: 50%;
}
main .insights > div.expenses span{
    background: var(--color-danger);
}
main .insights > div.income span{
    background: var(--color-succes);
}
main .insights > div .midle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .insights h3{
margin: 1rem 0 .6rem;
font-size: 1rem;
}
main .insights .progresse{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}
main .insights svg{
    width: 7rem;
   height: 7rem;
}
main .insights  svg circle{
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 95;
}
main .insights .sales svg circle{
    stroke-dashoffset: -35;
    stroke-dasharray: 200;
}
main .insights .expenses svg circle{
    stroke-dashoffset: 20;
    stroke-dasharray: 110;
}
main .insights .income svg circle{
    stroke-dashoffset: 25;
    stroke-dasharray: 170;
}
main .insights .progresse .number{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* end insights styles section */

main .recent_orders{
    margin-top: .8rem;
}
main .recent_orders h2{
    margin-bottom: 0.8rem;
}
main .recent_orders table{
    background-color: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main .recent_orders table:hover{
    box-shadow: none;
}
main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}
main table tbody tr:last-child td{
    border: none;
}

main .recent_orders a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}
/* right -------------------------------------------------------------section */
.right{
    margin-top: 1.4rem;
}
.right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.right .top button{
    display: none;
}
.right .theme_togle{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}
.right .theme_togle span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.right .theme_togle span.active{
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}
.right .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}
/* right updates-------------------------------------------------------------section */
.right .recent_updates{
    margin-top: 1rem;
}
.right .recent_updates h2{
    margin-bottom: .8rem;
}

.right .recent_updates .updates{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
.right .recent_updates .updates:hover{
    box-shadow: none;
}
.right .recent_updates .updates .update{
display: grid;
gap: 1rem;
grid-template-columns: 2.6rem auto;
margin-bottom: 1rem;
}
/* right analytics-------------------------------------------------------------section */

.right .sales_analytics{
    margin-top: 2rem;
}
.right .sales_analytics h2{
margin-bottom: .8rem;
}
.right .sales_analytics .item{
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: .7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
.right .sales_analytics .item:hover{
    box-shadow:none ;
}
.right .sales_analytics .item .right{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}
.right .sales_analytics .item  .icon{
    padding: .6rem;
    color: var(--color-white);
    border-radius: 50%;
    background-color: var(--color-primary);
    display: flex;
}
.right .sales_analytics .item.offline  .icon{
    background-color: var(--color-danger);
}
.right .sales_analytics .item.custumer .icon{
    background-color: var(--color-succes);
}
.right .sales_analytics .add_pruduct{
    background: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}
.right .sales_analytics .add_pruduct:hover{
    box-shadow: none;
}
.right .sales_analytics .add_pruduct div{
    display: flex;
    align-items: center;
    gap: .6rem;
}
.right .sales_analytics .add_pruduct div h3{
    font-weight: 600;
}

/* media queries large tablets and smaller laptops------section */
@media screen and (max-width:1298px) {
    .container
    {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
        overflow-x: hidden;
    }
   
    .aside .links h3{
display: none;
    } 
    .aside .logo h1{
display: none;

    }

    .aside .links a{
        width: 5.6rem;
    }
    .aside .links a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }
    main .insights{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent_orders{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 7rem 0 0 8.8rem;
    }
    main .recent_orders table{
        width: 84%;
    }

main table tbody tr td:last-child{
    display: none;
}
main table tbody tr td:nth-child(2){
    display: none;
}
main table thead tr th:nth-child(2){
    display: none;
}
}
/* media queries smaller tablets and mobile ------section */
@media screen and (max-width:768px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .aside{
        position: fixed;
        left: 0;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        left: -100%;
        animation: show_menu 400ms ease forwards;
    }
    .aside .links a{
        width: 100%;
    }

    @keyframes show_menu {
        to{
            left: 0;
        }
        
    }
    .aside .links h3{
        display: inline-block;
} 
.aside .logo{
display: inline-block;}
.aside .links a:last-child{
    position: absolute;
    bottom: 5rem;
}
.aside .close{
    display: inline-block;
    cursor: pointer;
}
main{
    margin-top: 8rem;
    padding: 0 1rem;
}
main .recent_orders{
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
}
main .recent_orders table{
    width: 100%;
    margin: 0;
}
.right{
    width: 94%;
    margin: 0 auto 4rem;
}
.right .top{
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
}
.right .top .theme_togle{
    width: 4.4rem;
    position: absolute;
    left: 66%;
}

.right .profile .info {
    display: none;
}

.right .top button{
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
    border: none;
}
.right .top button span{
    font-size: 2rem;
}



                     
}

/*additiona styles for the test*/

tbody img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
tbody img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reject{
    color: red;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: #41f1b6;
    color: #fff;
    padding: .5rem;
}

.btnn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: .5rem;
    background-color: #ff7782;
}
